 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Open+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f1f6f5]  m-0 p-0;
    font-family: 'Open Sans', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }
  html, body, #root {
  height: 100%;
  margin: 0;
}

}
/* Hide scrollbar but keep scroll functionality */
.scrollbar-hidden::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes slideDown {
  from { transform: translateY(-10px); opacity: 0 }
  to { transform: translateY(0); opacity: 1 }
}

